<p style="text-align:right;">
    <em>Content Copyrighted by Puneett Bhatnagr</em>
</p>

# Python Membership Operator
___

Membership operators are used to test if a sequence is presented in an object:

<table class="table table-bordered">
    
<tr>
   <th style="width:10%; text-align: center;">Operator</th>
   <th style="width:30%; text-align: center;">Description</th>
   <th style="width:10%; text-align: center;">Example</th>
</tr>
    
<tr>
<td style="text-align: center;">in</td>
<td style="text-align: left;">Returns True if a sequence with the specified value is present in the object</td>
<td style="text-align: center;">x in y</td>
</tr>
    
<tr>
<td style="text-align: center;">not in</td>
<td style="text-align: left;">	Returns True if a sequence with the specified value is not present in the object</td>
<td style="text-align: center;">x not in y</td>
</tr>
    
</table>

# Python in Operator
___

In [6]:
x = ["Python", "SQL"]

print("Python" in x) # returns True because a sequence with the value "Python" is in the list

True

# Python not in Operator
___

In [7]:
x = ["Python", "SQL"]

print("MSexcel" not in x)

# returns True because a sequence with the value "MSexcel" is not in the list

True

___

<p style="text-align:right;">
    <em>Content Copyrighted by Puneett Bhatnagr</em>
</p>