<p style="text-align:right;">
    <em>Content Copyrighted by Puneett Bhatnagr</em>
</p>

# Numbers in Python
___

In this lecture, we will learn about numbers in Python and how to use them and will cover the following topics:

1. Types of Numbers
2. Basic Arithmetic
3. Differences between classic and floor division
4. Variable Assignment

# 1). Types of Numbers
___

Python has various "types" of numbers (numeric literals). 

We'll mainly focus on <b>Integers</b> and <b>Floating point numbers</b>.

Number as the name suggests refers to as "numeric value". 

You can use 3 types of number in Python Program which includes:

1. Integers (e.g, 5), 
2. Floating point (e.g, 4.24),
3. Complex Numbers (e.g, a +bi)
___

<b>Integers</b> are just whole numbers, positive (+) or negative (-). 

int (Integers) are the whole number, including negative numbers but not fractions. In Python, there is no limit to how long an integer value can be.

<b>For example</b>: 6 and -6 are examples of integers.
___

<b>Floating point numbers</b> in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. 

This is a real number with floating-point representation. It is specified by a decimal point. Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation. . 

<b>For example,</b> 6.0 and -6.1 are examples of floating point numbers. 6E2 (6 times 10 to the power of 2) is also an example of a floating point number in Python.

___


Throughout this course we will be mainly working with integers or simple float number types.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1, 2, -5, 1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2, -0.5, 2e2, 3E2</td> 
    <td>Floating point numbers</td> 
</tr>
 </table>

 
 
Now let's start with some basic arithmetic.

# 2). Basic Arithmetic

___

In [42]:
# Addition
4+5

9

In [43]:
# Subtraction
4-5

-1

In [44]:
# Multiplication
4*5

20

In [45]:
# Division
4/5

0.8

In [1]:
7/4

1.75

OK, now let's take a little bit of time to discuss a mathematical operation that you may not have seen before.

It's the modula or a model operator.

And basically how it performs is, it returns back remainder after a division.

In [2]:
# Modulo
7%4

3

In [1]:
60 % 5

0

So let's imagine, If we have an odd number and we use number Twenty three.

we want to know if it's even or odd.

Well, we could just look at it, but maybe some time my code it's disguised by this variable.

And I really need to quickly check, if the number is even or odd in a way, because this is simply a mod too.

And I know that if this mod results in something other than zero, then we have an odd number because of have an even number.

Then when you divide it by two, there should be no remainder or the remainder should be zero.

So that's the mod operator. 

Again, it just gives you the back the remainder after you perform a division.

In [7]:
23 % 2

1

In [8]:
20 % 2

0

Let's continue with everything else about arithmetic.

You can also perform powers so you can do something like three to the power of four.

In [23]:
# Powers
3**4

81

Let's now start Basic order of operations with maths,

In [32]:
5 + 15 * 15 + 8

238

In [33]:
5 + 15

20

In [34]:
20 * 15

300

In [35]:
300 + 8

308

In [36]:
(5 + 15) * (15 + 8)

460


# When to use Decimal instead of Float?
___

We generally use Decimal in the following cases.

- When we are making financial applications that need exact decimal representation.

- When we want to control the level of precision required.

- When we want to implement the notion of significant decimal places.


# 3). Classic and Floor Division
___

When dividing 2 numbers, if you want to know the quotient and remainder, use the floor division (//) and modulo operator (%) respectively.

In [37]:
# Floor Division
6//4

1

**Whoa! What just happened? Last time I checked, 6 divided by 4 equals to 1.50 and not 1!**

The reason we get this result is because we are using <b>"*floor*" division</b>. The <b>//</b> operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

**So what if we just want the remainder after division?**

In [38]:
# Modulo
7%4

3

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

In [12]:
# Powers
3**4

81

In [13]:
# Can also do roots this way
3**0.6

1.9331820449317627

In [29]:
# Order of Operations followed in Python
5 + 15 * 15 + 8

238

In [14]:
# Can use parentheses to specify orders
(2 + 10) * (10 + 3)

156

# 4). Variable Assignments

___

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign <b>names</b> and <b>create variables</b>.

We use a single equals sign to assign labels to variables. 

Let's see a few examples of how we can do this.

In [31]:
# Let's create an object called "a" and assign it the number 6
a = 6

Now if I call *a* in my Python script, Python will treat it as the number 6.

In [32]:
# Adding the objects
a+a

12

What happens if we reassign the value? Will it get write over?

In [33]:
# Reassignment
a = 12

In [34]:
# Check
a

12

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example:

In [35]:
# Check
a

12

In [36]:
# Use A to redefine A
a = a + a

In [37]:
# Check 
a

24

## Rules for variable names
___

The names you use when creating these labels need to follow a rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these special chracter / symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered better and as a best practice (PEP8) to use names as <b>lowercase</b>.
    5. Avoid using the characters 
        - 'l' (lowercase letter el), 
        - 'O' (uppercase letter oh), 
        - 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str".

Using variable names can be a very useful way to keep track of different variables in Python.

## Dynamic Typing
___


Python uses *dynamic typing*, meaning you can reassign variables to different data types. 

This makes Python very flexible in assigning data types; 

it differs from other languages that are *statically typed*.

In [1]:
my_cars = 2

In [2]:
my_cars

2

In [5]:
my_cars = ['Toyota', 'BMW']

In [6]:
my_cars

['Toyota', 'BMW']

# Pros and Cons of Dynamic Typing
___

#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()`

## Assigning Variables
___

Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [6]:
a = 6

In [7]:
a

6

Here we assigned the integer object `6` to the variable name `a`. Let's assign `a` to something else:

In [8]:
a = 30

In [9]:
a

30

You can now use `a` in place of the number `30`:

In [11]:
a + a

60

## Reassigning Variables
___

Python lets you reassign variables with a reference to the same object.

In [12]:
a = a + 10

In [13]:
a

40

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [14]:
a += 10

In [15]:
a

50

In [16]:
a *= 2

In [17]:
a

100

## Determining variable type with `type()`
___

Python's built-in `type()` function can check what type of object is assigned to a variable. Below are the data types included:

* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [18]:
type(a)

int

In [19]:
a = (1,2)

In [20]:
type(a)

tuple

# Let's Summarise what we learn
___


So what we learned in this Topic -

- We learned some of the basics of numbers in Python.

- We also learned how to do arithmetic and use Python as a basic calculator.

- understand basics of variable assignment 

- reassignment in Python.


## Lets now move to next Topic - Strings

___

<p style="text-align:right;">
    <em>Content Copyrighted by Puneett Bhatnagr</em>
</p>